<% include ./partials/header %>
<div class="container">
        <h1 style="text-align:left;"><span style="color:red;">i</span>Blog</h1>
    </div>
    <hr class="style-two">

<% for(var i = 0 ; i < blogs.length; i++) { %>
    
    <div class="card" style="width: 18rem;float:left;margin-left:1rem;margin-top:0.5rem">
        <div class="card-body">
            <h5 class="card-title"><%=blogs[i].name %></h5>
            <p class="card-text"><%= nodesArr[i].content.substring(0,59); %></p>
            <input class="btn btn-primary" onclick="readRedirect('<%=blogs[i]._id%>')" value="Read" type="submit">
            
        </div>
    </div>
<% }%>

<script>
    function readRedirect (id) {
        window.location.replace("/reading/read/"+id);
    }
</script>

<% include ./partials/footer %>
