<% for (var i = 0 ; i < blogs.length ; i++) { %>
    <div>
        <h1><%=blogs[i].name %></h1>
        <p><%= nodesArr[i].content %></p>
        <form method="GET" action="/writing/edit/<%=blogs[i]._id %>">
            <input type="submit">
        </form>

    </div>
        <% } %>